<main class="index">
    <nav>
        <ul class="menu">
            <li>
                <a href="https://www.linkedin.com/in/wadly-dugue/"><img src="https://es.seaicons.com/wp-content/uploads/2016/03/Linkedin-icon-12.png" alt="linkdein"></a>    
            </li>
            <li>
                <a href="https://www.github.com/Douv/"><img src="https://isanutor.github.io/web/img/github.png" alt="github"></a>
            </li>
        </ul>
    </nav>
    <section class="buttons-section">
       <div class="buttons">
           <a href="/about">           
                <button>About</button>
            </a>
            <a href="/stacks">           
                <button>Stacks</button>
            </a>
            <a href="contact">
               <button>Contact</button>
            </a>
       </div> 
    </section>
</main>