<main class="stacks-view">
    <section class="logos">
        <img src="https://es.seaicons.com/wp-content/uploads/2015/07/Other-html-5-icon.png" alt="html-logo">
        <img src="https://cdn.iconscout.com/icon/free/png-256/css-37-226088.png" alt="css-logo">
        <img src="https://cdn.iconscout.com/icon/free/png-256/javascript-2038874-1720087.png" alt="js-logo">
        <img src="https://cdn.iconscout.com/icon/free/png-256/react-3630110-3031366.png" alt="reactjs-logo">
        <img src="https://cdn.iconscout.com/icon/free/png-256/node-js-1174925.png" alt="nodejs-logo">
        <img src="https://cdn.iconscout.com/icon/free/png-256/bootstrap-226077.png" alt="bootstrap-logo">
        <img src="https://cdn.iconscout.com/icon/free/png-256/jquery-7-1175152.png" alt="jquery-logo">
    </section>
</main>